<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tag-advisor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="static/images/icons/logo.png"/>	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
    <script type="text/javascript">
    function checkCheckBox(form)
    {
      if (form.ckb1.checked == false )
        {
        alert('Vous devez cocher la case avant de continuer.');
        return false;

        }

    </script>
    
    
    </head>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('static/images/bg-02.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50" id="form">
				<form class="login100-form validate-form" action="/tags" method="post">
					<span class="login100-form-title p-b-59">
						Ask me your question :) 
					</span>

					<div class="wrap-input100 validate-input" data-validate="Question is required">
						<span class="label-input100">Your question</span>
						 <textarea id="question" class="input100"  name="user_question" placeholder="I'm listening to you..."></textarea>
					</div>

					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" required id="ckb1" type="checkbox" name="agree">
							<label class="label-checkbox100" for="ckb1" >
								<span class="txt1">
									I agree to the
									<a href="https://en.wikipedia.org/wiki/Terms_of_service" class="txt2 hov1">
										Terms of User
									</a>
								</span>
							</label>
					</div>
					
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" id="list_tag">
								Proposition of Tags 
							</button>
                            <div class="login100-form-bgbtn" ></div>
                            
                        </div>     
          
                                 					</div>
				
                </form>
          
                        <div class="container-login100 espace" id="propositions">
                            
                              {% for tag in sup %}
                             <h2 class="tag_s"> {{tag}} </h2> <br>
                              {% endfor %}

                  </div>
    
                
                
			</div>
            
                      
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
